#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#buttonview-actionButton{
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
}

